.App-title {
  text-align: center;
}
.boardWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.board-container {
  font-size: 0;
  width: 150px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  font-size: 0;
  background: rgb(211, 211, 250);
  border: 1px solid rgb(75, 47, 47);
}

.cell:hover {
  cursor: pointer;
  background: rgb(110, 110, 236);
}

.cell[data-player="1"] {
  background: green;
}

.cell[data-player="2"] {
  background: yellow;
}

.statusWrapper {
  margin-top: 50px;
  text-align: center;
}
